Repository Wbebey/dwaves, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wbebey, @alexandre-pinon, @Keisay, @FroggEater, @BryanSeychelles, @Bolrung

feat: profile-update-info forms (without axios calls)
  frontend/dwaves-app/src/components/Login.tsx
  frontend/dwaves-app/src/components/ProfileInfoForm.tsx
  frontend/dwaves-app/src/components/ProfilePasswordForm.tsx
  frontend/dwaves-app/src/components/Register.tsx
  frontend/dwaves-app/src/components/SongList.tsx
  frontend/dwaves-app/src/components/data/Banner.tsx
  frontend/dwaves-app/src/components/shared/Icon.tsx
  frontend/dwaves-app/src/models/index.ts
  frontend/dwaves-app/src/views/Profile.tsx
Owners: @Wbebey, @alexandre-pinon

feat: add get user by id route
  backend/api/src/controllers/user.controller.ts
  backend/api/src/routers/user.router.ts
  backend/api/src/validators/user.validator.ts
Owners: @alexandre-pinon, @Keisay

feat: connect updateInfo/updatePassword forms & update pp everywhere on app
  frontend/dwaves-app/src/App.tsx
  frontend/dwaves-app/src/components/ArtistPopularSong.tsx
  frontend/dwaves-app/src/components/ContentAlbum.tsx
  frontend/dwaves-app/src/components/PlaylistContent.tsx
  frontend/dwaves-app/src/components/ProfileInfoForm.tsx
  frontend/dwaves-app/src/components/ProfilePasswordForm.tsx
  frontend/dwaves-app/src/components/Sidebar.tsx
  frontend/dwaves-app/src/models/index.ts
  frontend/dwaves-app/src/views/Album.tsx
  frontend/dwaves-app/src/views/Artist.tsx
  frontend/dwaves-app/src/views/Playlist.tsx
  frontend/dwaves-app/src/views/Profile.tsx
Owners: @Wbebey, @alexandre-pinon

feat: add avatar to updateInfo route
  backend/api/src/controllers/user.controller.ts
  backend/api/src/routers/current-user.router.ts
Owners: @alexandre-pinon, @Keisay

chore: redeploy ico contract
  backend/api/src/abi/ICO.json
  frontend/dwaves-app/src/abi/ICO.json
  frontend/dwaves-website/src/abi/ICO.json
Owners: @alexandre-pinon, @Keisay, @Wbebey

fix: logout redirect & upload-pp bug
  backend/api/src/controllers/user.controller.ts
  frontend/dwaves-app/src/components/Sidebar.tsx
Owners: @alexandre-pinon, @Keisay, @Wbebey

fix: logout redirect & upload-pp bug
  backend/api/src/controllers/user.controller.ts
  frontend/dwaves-app/src/components/Sidebar.tsx
Owners: @alexandre-pinon, @Keisay, @Wbebey

chore: redeploy ico contract
  backend/api/src/abi/ICO.json
  frontend/dwaves-app/src/abi/ICO.json
  frontend/dwaves-website/src/abi/ICO.json
Owners: @alexandre-pinon, @Keisay, @Wbebey

feat: show warning message if there is no available event
  frontend/dwaves-app/src/components/TicketPurchase.tsx
Owners: @Wbebey, @alexandre-pinon

feat: adding duration on musics of liked playlist
  frontend/dwaves-app/src/components/PlaylistContent.tsx
Owners: @Wbebey, @alexandre-pinon

feat: adding dropdown list to select genre for download
  frontend/dwaves-app/src/components/AlbumForm.tsx
  frontend/dwaves-app/src/components/CreateConcert.tsx
  frontend/dwaves-app/src/components/Input.tsx
  frontend/dwaves-app/src/views/Download.tsx
Owners: @Wbebey, @alexandre-pinon

feat: adding condition when we don't have event
  frontend/dwaves-app/src/components/YourConcerts.tsx
  frontend/dwaves-app/src/components/YourNftTickets.tsx
Owners: @Wbebey, @alexandre-pinon

feat: adding condition when we don't have event
  frontend/dwaves-app/src/components/YourConcerts.tsx
  frontend/dwaves-app/src/components/YourNftTickets.tsx
Owners: @Wbebey, @alexandre-pinon

feat: adding dropdown list to select genre for download
  frontend/dwaves-app/src/components/AlbumForm.tsx
  frontend/dwaves-app/src/components/CreateConcert.tsx
  frontend/dwaves-app/src/components/Input.tsx
  frontend/dwaves-app/src/views/Download.tsx
Owners: @Wbebey, @alexandre-pinon

feat: adding duration on musics of liked playlist
  frontend/dwaves-app/src/components/PlaylistContent.tsx
Owners: @Wbebey, @alexandre-pinon

feat: show warning message if there is no available event
  frontend/dwaves-app/src/components/TicketPurchase.tsx
Owners: @Wbebey, @alexandre-pinon

playing music with back
  mobile/lib/Screen/Login_page.dart
  mobile/lib/Screen/Pagemanager.dart
  mobile/lib/Screen/View_Album.dart
  mobile/lib/Screen/View_detail_album.dart
  mobile/lib/Screen/manager.dart
Owners: @Bolrung

fix: deployment instances and register container height
  .github/actions/backend/deployment/action.yml
  frontend/dwaves-app/src/components/Register.tsx
  frontend/dwaves-app/src/styles/Login.scss
  frontend/dwaves-app/src/views/ModalLogin.tsx
Owners: @Wbebey, @alexandre-pinon

fix: container playlist
  frontend/dwaves-app/src/components/data/List.tsx
  frontend/dwaves-app/src/styles/data/List.scss
Owners: @Wbebey, @alexandre-pinon

fix: deployment instances and register container height
  .github/actions/backend/deployment/action.yml
  frontend/dwaves-app/src/components/Register.tsx
  frontend/dwaves-app/src/styles/Login.scss
  frontend/dwaves-app/src/views/ModalLogin.tsx
Owners: @Wbebey, @alexandre-pinon

fix: container playlist
  frontend/dwaves-app/src/components/data/List.tsx
  frontend/dwaves-app/src/styles/data/List.scss
Owners: @Wbebey, @alexandre-pinon

feat: update README
  backend/api/README.md
Owners: @alexandre-pinon, @Keisay

feat: update README
  backend/api/README.md
Owners: @alexandre-pinon, @Keisay

fix: env variable set up
  frontend/dwaves-website/src/App.tsx
  frontend/dwaves-website/src/components/MakeTheTransaction.tsx
Owners: @Wbebey, @alexandre-pinon

fix: removed placeholder
  frontend/dwaves-app/src/components/data/List.tsx
Owners: @Wbebey, @alexandre-pinon

fix: name album
  frontend/dwaves-app/src/components/data/List.tsx
Owners: @Wbebey, @alexandre-pinon

fix: side bar gap fixed
  frontend/dwaves-app/src/components/Sidebar.tsx
Owners: @Wbebey, @alexandre-pinon

fix: player color
  frontend/dwaves-app/src/shaders/playerFragment.glsl
Owners: @Wbebey, @alexandre-pinon

fix: side bar gap fixed
  frontend/dwaves-app/src/components/Sidebar.tsx
Owners: @Wbebey, @alexandre-pinon

fix: env variable set up
  frontend/dwaves-website/src/App.tsx
  frontend/dwaves-website/src/components/MakeTheTransaction.tsx
Owners: @Wbebey, @alexandre-pinon

fix: removed placeholder
  frontend/dwaves-app/src/components/data/List.tsx
Owners: @Wbebey, @alexandre-pinon

fix: name album
  frontend/dwaves-app/src/components/data/List.tsx
Owners: @Wbebey, @alexandre-pinon

fix: player color
  frontend/dwaves-app/src/shaders/playerFragment.glsl
Owners: @Wbebey, @alexandre-pinon

fix: changing import logo tokens
  frontend/dwaves-app/src/components/TicketPurchase.tsx
Owners: @Wbebey, @alexandre-pinon

fix: changing import logo tokens
  frontend/dwaves-app/src/components/TicketPurchase.tsx
Owners: @Wbebey, @alexandre-pinon

link to prod
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/lib/Screen/Login_page.dart
  mobile/lib/Screen/Pagemanager.dart
  mobile/lib/Screen/View_Album.dart
  mobile/lib/Screen/View_detail_album.dart
  mobile/lib/Screen/manager.dart
  mobile/lib/Screen/register_page.dart
Owners: @Bolrung

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# review when someone opens a pull request.
*       @Wbebey @alexandre-pinon

# owns any file in an specified directory
# anywhere in your repository.
backend/ @alexandre-pinon @Keisay

frontent/ @FroggEater @BryanSeychelles @alexandre-pinon

mobile/ @Bolrung

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, not the global owner(s) will be requested for a review.
*.yml    @Wbebey
*.yaml    @Wbebey
